$module: 'main-nav';

.main-nav {
    clear: both;

    margin: 0 auto;
    line-height: 1.6;
    width: 100%;
    @include rgba_property( 'background-color',
        $color__main-nav-bg,
        $color__main-nav-bg-opacity
    )

    &__wrapper {
        @include clearfix();
        margin: 0 auto;
        padding: 0 $gutter_percent;
        @media ($desktop_large) {
           //padding: 0 ($gutter_percent / 2);
        }
        @media ($tablet) {
        padding: 0 percentage(20px / $site_max_width);
        }
    }

    &__flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

    }
    &__menu-flex-item {
        width: 80%;
    }
    &__site-branding-flex-item {
        width: 20%;
    }

    &__main-menu {
        display: flex; // removes white-space between items
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        line-height: 1.6;

        /* Only 1st level items */
        > li > a {
            padding-top: 18px;
            padding-bottom: 18px;
            padding-right: 18px;
            @include rgba_property( 'color',
                $color__main-nav-text,
                $color__main-nav-text-opacity
            )
            @include rgba_property( 'background-color',
                $color__main-nav-bg,
                $color__main-nav-bg-opacity
            )
                &:hover {
                    @include rgba_property( 'color',
                        $color__main-nav-text-hover,
                        $color__main-nav-text-opacity-hover
                    )
                    @include rgba_property( 'background-color',
                        $color__main-nav-bg-hover,
                        $color__main-nav-bg-opacity-hover
                    )
                }
        }
        /* All items */
        li a {
            padding-left: 18px;
            padding-right: 18px;
        }
        /* 2nd level and below items */
        ul li a {
            padding-top: 10px;
            padding-bottom: 10px;

            @include rgba_property( 'color',
                $color__main-nav-sub-menu-text,
                $color__main-nav-sub-menu-text-opacity
            )
                &:hover {
                    @include rgba_property( 'color',
                        $color__main-nav-sub-menu-text-hover,
                        $color__main-nav-sub-menu-text-opacity-hover
                    )
                   @include rgba_property( 'background-color',
                       $color__main-nav-sub-menu-bg-hover,
                       $color__main-nav-sub-menu-bg-opacity-hover
                   )
                }
        }
        .sub-menu {
            @include rgba_property( 'background-color',
                    $color__main-nav-sub-menu-bg,
                    $color__main-nav-sub-menu-bg-opacity
            )
            li:first-child a {
                padding-top: 10px;
            }

        }
    }


    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;

        /* 2nd level and beyond */
        ul {

            float: left;
            position: absolute;
            // top: 1.5em;
            top: 100%;
            left: -999em;
            z-index: 99999;

            ul {
                left: -999em;
                top: 0;
            }

            li {
                &:hover > ul,
                &.focus > ul {
                    left: 100%;
                }
            }

            a {
                width: 200px;
            }

            :hover > a,
            .focus > a {
            }

            a:hover,
            a.focus {
            }
        }

        li:hover > ul,
        li.focus > ul {
            left: auto;
        }
    }

    li {
        // float: left;
        display: inline-block;
        position: relative;

        &:hover > a,
        &.focus > a {
        }
    }

    a {
        display: block;
        text-decoration: none;

    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
    }

    &__site-branding {

        h1.site-title,
        p.site-title {
            margin: 0 0 0 0;
            font-size: 18px;
            font-weight: bold;
            a {
                color: #000;
            }
        }
        p.site-description {
            margin: 0 0 0 0;
            font-size: 12px;
            font-weight: normal;
        }
    }
}
.menu-toggle {
    display: none;
}
.main-nav ul {
    // display: block;
}
/* Small menu. */
@media ($tablet) {
    .menu-toggle,
    .main-nav.toggled ul {
        display: block;
    }
}




.comment-navigation,
.posts-navigation,
.post-navigation {

    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }

    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}










/*============================================================================
  #Drawers
==============================================================================*/

.js-drawer-open {
    overflow: hidden;
    height: 100%;
}

.drawer {
    @include promote-layer();
    display: none;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    padding: 0 ($gutter / 2) ($gutter / 2);
    max-width: 100%;
    z-index: z('drawer');
    color: $drawer_text_color;
    background-color: $drawer_bg_color;
    transition: $drawer_transition;
    a {
        color: $drawer_text_color;
        &:hover,
        &:focus {}
    }
    input,
    textarea {
        border-color: $drawer_border_color;
    }
}

.drawer--left {
    width: $drawer_nav_width;
    left: -$drawer_nav_width;
    border-right: 1px solid $drawer_border_color;
    .js-drawer-open-left & {
        display: block;
        transform: translateX($drawer_nav_width);
        .lt-ie9 & {
            left: 0;
        }
    }
}

.drawer--right {
    width: $drawer_cart_width;
    right: -$drawer_cart_width;
    border-left: 1px solid $drawer_border_color;
    .js-drawer-open-right & {
        display: block;
        transform: translateX(-$drawer_cart_width);
        .lt-ie9 & {
            right: 0;
        }
    }
}

#PageContainer {
    overflow: hidden;
}

.is-moved-by-drawer {
    @include promote-layer();
    transition: $drawer_transition;
    .js-drawer-open-left & {
        transform: translateX($drawer_nav_width);
    }
    .js-drawer-open-right & {
        transform: translateX(-$drawer_cart_width);
    }
}

.drawer__header {
    display: table;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: $gutter / 2;
}

.drawer__title,
.drawer__close {
    vertical-align: top;
}

.drawer__title {
    width: 100%;
}

.drawer__close {
    text-align: left;
    font-size: em(18px);
}

.drawer__close button {
    position: absolute;
    width: 61px;
    height: 65px;
    padding: 20px;
    top: 0;
    left: 0;
    img {
        width: 21px;
        height: 21px;
        vertical-align: top;
    }
    &:active,
    &:focus {}
}
