$module: 'main-nav';

.main-nav {
    clear: both;
    margin: 0 auto;
    line-height: 1.6;
    width: 100%;
    @include rgba_property( 'background-color',
        $color__main-nav-bg,
        $color__main-nav-bg-opacity
    )

    &__wrapper {
        @include clearfix();
        margin: 0 auto;
        padding: 0 $gutter_percent;
        @media ($desktop_large) {
           //padding: 0 ($gutter_percent / 2);
        }
        @media ($tablet) {
        padding: 0 percentage(20px / $site_max_width);
        }
    }

    &__flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

    }
    &__menu-flex-item {
        width: 80%;
    }
    &__site-branding-flex-item {
        width: 20%;
    }

    &__main-menu {
        display: flex; // removes white-space between items
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        line-height: 1.6;

        /* Only 1st level items */
        > li > a {
            padding-top: 18px;
            padding-bottom: 18px;
            padding-right: 18px;
            @include rgba_property( 'color',
                $color__main-nav-text,
                $color__main-nav-text-opacity
            )
            @include rgba_property( 'background-color',
                $color__main-nav-bg,
                $color__main-nav-bg-opacity
            )
                &:hover {
                    @include rgba_property( 'color',
                        $color__main-nav-text-hover,
                        $color__main-nav-text-opacity-hover
                    )
                    @include rgba_property( 'background-color',
                        $color__main-nav-bg-hover,
                        $color__main-nav-bg-opacity-hover
                    )
                }
        }
        /* All items */
        li a {
            padding-left: 18px;
            padding-right: 18px;
        }
        /* 2nd level and below items */
        ul li a {
            padding-top: 10px;
            padding-bottom: 10px;

            @include rgba_property( 'color',
                $color__main-nav-sub-menu-text,
                $color__main-nav-sub-menu-text-opacity
            )
                &:hover {
                    @include rgba_property( 'color',
                        $color__main-nav-sub-menu-text-hover,
                        $color__main-nav-sub-menu-text-opacity-hover
                    )
                   @include rgba_property( 'background-color',
                       $color__main-nav-sub-menu-bg-hover,
                       $color__main-nav-sub-menu-bg-opacity-hover
                   )
                }
        }
        /**
         * @TODO Determine why:
         *  .children seems to happen with clean instead of .sub-menu
         *  Test Case: Clean install + wptester + no menu selected
         */
        .children,
        .sub-menu {
            @include rgba_property( 'background-color',
                    $color__main-nav-sub-menu-bg,
                    $color__main-nav-sub-menu-bg-opacity
            )
            li:first-child a {
                padding-top: 10px;
            }

        }
    }


    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;

        /* 2nd level and beyond */
        ul {

            float: left;
            position: absolute;
            // top: 1.5em;
            top: 100%;
            left: -999em;
            z-index: 99999;

            ul {
                left: -999em;
                top: 0;
            }

            li {
                &:hover > ul,
                &.focus > ul {
                    left: 100%;
                }
            }

            a {
                width: 200px;
            }

            :hover > a,
            .focus > a {
            }

            a:hover,
            a.focus {
            }
        }

        li:hover > ul,
        li.focus > ul {
            left: auto;
        }
    }

    li {
        // float: left;
        display: inline-block;
        position: relative;

        &:hover > a,
        &.focus > a {
        }
    }

    a {
        display: block;
        text-decoration: none;

    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
    }

    &__site-branding {

        h1.site-title,
        p.site-title {
            margin: 0 0 0 0;
            font-size: 18px;
            font-weight: bold;
            a {
                color: #000;
            }
        }
        p.site-description {
            margin: 0 0 0 0;
            font-size: 12px;
            font-weight: normal;
        }
        h1.site-title,
        p.site-title,
        p.site-description {
          line-height: 1;
        }
    }
}
.menu-toggle {
    display: none;
}
.main-nav ul {
    // display: block;
}
/* Small menu. */
@media ($tablet) {
    .menu-toggle,
    .main-nav.toggled ul {
        display: block;
    }
}
