blockquote {
  margin: 20px 0;
  padding: 22px 30px;
  position: relative;
  background-color: #eee;
  clear: both;

  &:before {
    content: "";
      background: #fff url(./images/blockquote.svg) no-repeat 50%;
      position: absolute;
      top: -20px;
      left: calc(50% - 20px);
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-size: 30px auto;
  }
}
