button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 0;
	background: $color__background-button;
	color: $color__text-button;
	box-shadow: none;
	@include font-size(10px);
	line-height: $font__line-height-button;
	padding: $button_padding;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

button,
input[type="submit"] {
    cursor: pointer;
}

input[type="radio"] {
    appearance: radio;
}

input[type="image"] {
    padding-left: 0;
    padding-right: 0;
}


input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
    width: auto;
}

input[type="checkbox"] {
    appearance: checkbox;
}
